# Example values for development environment
# Copy this file to terraform.tfvars and adjust values

region      = "us-east-1"
environment = "dev"
project     = "ritual-roast"

# SSH Configuration
ssh_key_name = "Putty" # REQUIRED: Replace with your key pair name

# Network Configuration
vpc_cidr = "10.16.0.0/16"

availability_zones = {
  az-1a = "us-east-1a"
  az-1b = "us-east-1b"
}

public_subnet_cidrs = {
  public-subnet-1a = "10.16.0.0/20"
  public-subnet-1b = "10.16.16.0/20"
}

webapp_subnet_cidrs = {
  webapp-subnet-1a = "10.16.64.0/20"
  webapp-subnet-1b = "10.16.80.0/20"
}

database_subnet_cidrs = {
  db-subnet-1a = "10.16.192.0/20"
  db-subnet-1b = "10.16.208.0/20"
}

subnet_az_mapping = {
  public-subnet-1a = "us-east-1a"
  public-subnet-1b = "us-east-1b"

  webapp-subnet-1a = "us-east-1a"
  webapp-subnet-1b = "us-east-1b"

  db-subnet-1a = "us-east-1a"
  db-subnet-1b = "us-east-1b"
}

single_nat_gateway = true # false for high availability (costs more)

# Tags
tags = {
  Environment = "dev"
  Project     = "ritual-roast"
  ManagedBy   = "terraform"
  Owner       = "devops-team"
}

# RDS Configuration
db_instance_class      = "db.t3.micro"
db_allocated_storage   = 20
db_engine_version      = "8.4.7"
db_name                = "recipedb"
db_username            = "dbadmin"
db_multi_az            = false # true for high availability
db_backup_retention    = 7
db_skip_final_snapshot = true # false for production

# ECR Configuration
frontend_repo_name = "ritual-roast-nextjs-app"
backend_repo_name  = "ritual-roast-flask-app"

# EC2 Configuration
instance_type = "t3.micro"
frontend      = "ritual-roast-nextjs-frontend"
backend       = "ritual-roast-flask-backend"
frontend_url  = "https://raw.githubusercontent.com/asadjvd/AWS-Projects/main/Ritual-Roast-Containerized-Application/Resources/ritual-roast-nextjs-frontend.zip"
backend_url   = "https://raw.githubusercontent.com/asadjvd/AWS-Projects/main/Ritual-Roast-Containerized-Application/Resources/ritual-roast-flask-backend.zip"
